
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Side Bar         </title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="sidebar">
        <div id="sidebar_alreadyCompleted">
            <h3>Already Completed</h3>
        <ul id="sidebar_list">
            <li><span class="sidebar_list_name">Arun Surie</span> Galgotia</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> Galglotia</li>
            <li><span class="sidebar_list_name">Arnav Goswami</span> Rameesh</li>
            <li><span class="sidebar_list_name">Pablo Escobar</span> Cuba</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> Galgotia</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> Galgotia</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> Galgotia</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> Galgotia</li>
            <li><span class="sidebar_list_first_item">and </span><span class="sidebar_list_expand"><a href="moreitems.html">10 more</a></span></li>
        </ul>
            </div>

        <div id="sidebar_mentorsOnline">
            <h3>Mentors Online</h3>
        <ul id="sidebar_list">
            <li><span class="sidebar_list_name">Arun Surie</span> (120)</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> (119)</li>
            <li><span class="sidebar_list_name">Arnav Goswami</span> (111)</li>
            <li><span class="sidebar_list_name">Pablo Escobar</span> (78)</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> (73)</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> (69)</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> (58)</li>
            <li><span class="sidebar_list_name">Neeraj Sukla</span> (55)</li>
            <li><span class="sidebar_list_first_item">and </span><span class="sidebar_list_expand"><a href="moreitems.html">10 more</a></span></li>
        </ul>
            </div>
    </section>

</body>
</html>
