
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic Query Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="topicQueryPage">
        <div id="internal_page_topbar">
            <div id="internal_page_topbar_text"> <p>Course Content</p></div>
   <a href="#"> <div id="internal_page_topbar_text_expand"></div>
            </a>
        </div>


        <div id="querypage_formbox">
        <div id="querypage_formbox_heading">
            <p> Source Code</p>
        </div>
        <div id="querypage_formbox_main">
        <div id="querypage_formbox_main_formarea"><div id="querypage_formbox_main_form"><form id="querypage_formbox_form">
            <input type="text" name="entered_query" width="100px" height="100px" placeholder="Ask your Query"><br>
            </form></div>
            <div id="cross_button"></div></div>
        <div id="querypage_formbox_form_footer">
            32 mentors online.Average answer time <span class="querypage_formbox_form_footer_span"> 2 minutes</span><button id="querypage_formbox_form_button" type="submit" form="querypage_formbox_form" value="Submit">Submit</button>
        </div>
        </div>
        </div>

        <div id="querypage_previouslyasked">
        <h4>Previously asked queries</h4>
        <ul id="querypage_previouslyasked_list">
            <li>- What is the difference between machine code and source code ?</li>
            <li>- What does compiler do with source code ? . Explain some steps .</li>
            <li>- Is that possible to intermix language in simple file ?</li>
            <li>- Is it possible to trick interpretor to read another language ?</li>
        </ul>
        </div>
<div id="internal_page_footer">
  <a href="#"><div id="internal_page_footer_previous"></div></a>
  <a href="#"><div id="internal_page_footer_next"></div></a>
</div>
    </section>

</body>
</html>
