
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info Card</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="userInfoCard">
      <div id="userInfo_card_heading">
          <img  id="userInfo_card_userpic" src="https://image.freepik.com/free-icon/male-user-silhouette_318-35708.jpg" alt="User" height="40" width="40"><div id="user_name">Rahul Garg </div>
        </div> 
        <div id="userInfo_card_data">
        <ul id="userInfo_card_data_list">
            <li>Skill Level : <span id="userInfo_list_skill">Beginner</span></li>
            <li>Membership Status : <span id="userInfo_list_membership">Gama</span></li>
            <li>Modules Completed : <span id="userInfo_list_modules">10</span>/50</li>
            <li>Score : <span id="userInfo_list_score">50 </span>/50000</li>
        </ul>
        </div>
    </section>

</body>
</html>