
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problems Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<section id="problemDashboard">
<div id="problemDashboard_header">
    
    <div id="problemDashboard_statement"><p>#9  Write a guessing game where the user has to guess a secret number , after every guess the program tells user whether the number was too small or too large . At the end the number of tries needed to be printed . I counts only as one try if they input same number multiple times consecutively</p></div>    
    
    
    
</div>
<div id="problemDashboard_ide"></div>
<div id="problemDashboard_footer">
<ul id="problemDashboard_footer_buttons">
    <a href="#" id="problemDashboard_footer_back_a"><li><div id="problemDashboard_footer_back">Back</div></li></a>
    <a href="#" id="problemDashboard_footer_save_a"><li><div id="problemDashboard_footer_save">Save & Exit</div></li></a>
    <a href="#" id="problemDashboard_footer_next_a"><li><div id="problemDashboard_footer_next">Next</div></li></a>
    
</ul>    
    
</div>
</section>
<script>

</script>
</body>
</html>