
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic Info Board</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="topicInfoBoard">
        <div id="internal_page_topbar">
            <div id="internal_page_topbar_text"> <p>Fundamentals of Programming</p></div>
            <a href="#"> <div id="internal_page_topbar_text_expand"></div></a>
        </div>

        
<div id="topicInfoBoard_data">
<div id="topicInfoBoard_data_display">
<div id="topicInfoBoard_data_heading">
Source Code
</div>
<div id="topicInfoBoard_data_info">
    <ul>
    <li>A text listing of commands to be compiled or assembled into an executable computer programme
        </li><li>To write a source code no need for specialised programs but better to write with any good source code text editor like sublime ,brackets,atom,visual studio or any other language specific editor or IDE</li>

    </ul>
</div>
    
    
</div>
<div id="topicInfoBoard_tools">
<a href="#"><div id="topicInfoBoard_tools_flip"></div></a>
<a href="#"><div id="topicInfoBoard_tools_textflip"></div></a>    
<a href="#"><div id="topicInfoBoard_tools_video"></div></a>
<a href="#"><div id="topicInfoBoard_tools_query"></div></a>
<a href="#"><div id="topicInfoBoard_tools_git"></div></a> 
</div>

</div>
        
        
        
        
<div id="internal_page_footer">
    <a href="#"><div id="internal_page_footer_previous"></div></a>
    <a href="#"><div id="internal_page_footer_next"></div></a>
</div>
    </section>
<script>

</script>
</body>
</html>