
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problems Overview</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="courseProblemsOverview">
<div id="courseProblemsOverview_header">
<div id="courseProblemsOverview_header_heading">Problems</div>
<div id="courseProblemsOverview_header_completed"><span id="courseProblemsOverview_header_completed_number">5</span>/40 completed</div>
</div>
<div id="courseProblemsOverview_data">

<div id="problem_card">
    
<div id="problem_icon"></div>
<div id="problem_details">
<p>Number of Problems : <span id="problem_details_number">20</span></p><br>
<p>Difficulty : <span id="problem_details_difficulty">Beginner</span></p><br>
<p>Completed : <span id="problem_details_completed">10</span></p><br>
<a href="#">
    <div id="courseProblemsOverview_resume_btn">Resume</div></a>     
</div>
    
    
</div>
<div id="problem_card">
    
<div id="problem_icon"></div>
<div id="problem_details">
<p>Number of Problems : <span id="problem_details_number">20</span></p><br>
<p>Difficulty : <span id="problem_details_difficulty">Beginner</span></p><br>
<p>Completed : <span id="problem_details_completed">10</span></p><br>
<a href="#">
    <div id="courseProblemsOverview_resume_btn">Resume</div></a>      
</div>
    
    
</div>
<div id="problem_card">
    
<div id="problem_icon"></div>
<div id="problem_details">
<p>Number of Problems : <span id="problem_details_number">20</span></p><br>
<p>Difficulty : <span id="problem_details_difficulty">Beginner</span></p><br>
<p>Completed : <span id="problem_details_completed">10</span></p><br>
<a href="#">
    <div id="courseProblemsOverview_resume_btn">Resume</div></a>    
</div>
    
    
</div>
        
</div>
<div id="courseProblemsOverview_footer"><a href="#">more</a></div>
    </section>
<script>

</script>
</body>
</html>