
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Modules Overview</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="courseModulesOverview">
        <div id="internal_page_topbar">
            <p>Course Content</p>
        </div>

        
<div id="courseModules_data">
<div id="courseModules_topbar">
<div id="topic_heading">Fundamentals of Programming</div>
<div id="cross_button"></div>
</div>
<div id="courseModules_cards_collection">

<div id="module_card_1">
<div id="module_card_heading">
<p>Module 1</p><br><p>Introduction</p>  
</div>
 <div id="module_card_data">
<ol id="module_card_data_list">
<li>Examining Syntax</li>
<li>Writing Statements</li>
<li>Pseudocode</li>
<li>Using Whitespaces</li>
<li>Using comments</li>
<li>keywords</li>
</ol>
</div>    
    
</div>

<div id="module_card_2">
<div id="module_card_heading">
<p>Module 1</p><br><p>Rules of Programming Language</p>  
</div>
 <div id="module_card_data">
<ol id="module_card_data_list">
<li>Examining Syntax</li>
<li>Writing Statements</li>
<li>Pseudocode</li>
<li>Using Whitespaces</li>
<li>Using comments</li>
<li>keywords</li>
</ol>
</div>    
    
</div>

<div id="module_card_3">
<div id="module_card_heading">
<p>Module 1</p><br><p>Rules of Programming Language</p>  
</div>
 <div id="module_card_data">
<ol id="module_card_data_list">
<li>Examining Syntax</li>
<li>Writing Statements</li>
<li>Pseudocode</li>
<li>Using Whitespaces</li>
<li>Using comments</li>
<li>keywords</li>
</ol>
</div>    
    
</div>
    </div>

</div>
        
        
        
        
        


        <div id="internal_page_footer">

</div>
    </section>

</body>
</html>