
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Modules Overview</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="courseModulesOverview">
        <div id="internal_page_topbar">
            <div id="internal_page_topbar_text"> <p>Course Content</p></div>
            <a href="#"> <div id="internal_page_topbar_text_expand"></div></a>
        </div>

        
<div id="courseModules_data">
<div id="courseModules_topbar">
<div id="topic_heading">Fundamentals of Programming</div>
    <a href="#"><div id="cross_button"></div></a>
</div>
<div id="courseModules_cards_collection">

<div id="module_card_1">
<div id="module_card_heading">
<p>Module 1</p><br><p>Introduction</p>  
</div>
 <div id="module_card_data">
<ol id="module_card_data_list">
<li><a href="#">Examining Syntax</a></li>
<li><a href="#">Writing Statements</a></li>
<li><a href="#">Pseudocode</a></li>
<li><a href="#">Using Whitespaces</a></li>
<li><a href="#">Using comments</a></li>
<li><a href="#">keywords</a></li>
</ol>
</div>    
    
</div>

<div id="module_card_2">
<div id="module_card_heading">
<p>Module 2</p><br><p>Rules of Programming Language</p>  
</div>
 <div id="module_card_data">
<ol id="module_card_data_list">
<li><a href="#">Examining Syntax</a></li>
<li><a href="#">Writing Statements</a></li>
<li><a href="#">Pseudocode</a></li>
<li><a href="#">Using Whitespaces</a></li>
<li><a href="#">Using comments</a></li>
<li><a href="#">keywords</a></li>
</ol>
</div>    
    
</div>

<div id="module_card_3">
<div id="module_card_heading">
<p>Module 3</p><br><p>Rules of Programming Language</p>  
</div>
 <div id="module_card_data">
<ol id="module_card_data_list">
<li><a href="#">Examining Syntax</a></li>
<li><a href="#">Writing Statements</a></li>
<li><a href="#">Pseudocode</a></li>
<li><a href="#">Using Whitespaces</a></li>
<li><a href="#">Using comments</a></li>
<li><a href="#">keywords</a></li>
</ol>
</div>    
    
</div>
    </div>

</div>
        
        
        
        
<div id="internal_page_footer">
    <a href="#"><div id="internal_page_footer_previous"></div></a>
    <a href="#"><div id="internal_page_footer_next"></div></a>
</div>
    </section>
<script>

</script>
</body>
</html>